{% extends "layout.html" %}

{% block content %}
<h1 id="configuring_the_app">Using this App</h1>

<div class="config">
	<p>In order to use this application, you must have a login</p>

	<p class="option"><strong>If you are a tester</strong></p>
	<p>In this case you must contact your administrator. He/she will create a login for you. e.g:</p>

	<p class="instruction"><span>Login:</span> http://facebook-testuser-manager/login/<span>&lt;app_id&gt;</span>/<span>&lt;unique_id&gt;</span></p>
</div>
{% endblock %}