{% extends "layout.html" %}

{% block content %}

<div id="user_list">
<p class="cmds">
	{% if user_is_admin %}<a href="javascript:deleteAllUsers();" title="Click here to remove all users.">
		<img src="images/delete.png" alt="Delete All Users">
	</a>{% endif %}
	<a href="javascript:loadAllUserInfo();" title="Click here to load the users' details.">Load all users</a>
</p>
<h1>Existing Test Users</h1>
</div>

<div class="user_list">
	<ul>
		{% for user in users %}
		<li>
		<div class="wrapper">
			<p class="cmds">
				<a href="{{user.login_url}}" title="Click here to login with this user on facebook." target="_blank"><img src="images/connect.png" alt="User login URL"></a>
				<a href="javascript:addFriend({{user.id}},'{{user.access_token}}');" title="Click here to {% if user_is_admin %}add a new friend to this user and {% endif %}see existing friends."><img src="images/user_add.png" alt="User friends"></a>
				{% if user_is_admin %}<a href="javascript:deleteUser({{user.id}},'{{user.access_token}}');" title="Click here to remove this user."><img src="images/delete.png" alt="Delete User"></a>{% endif %}
				<a href="javascript:showToken('{{user.access_token}}');" title="Click here to view this user's access token."><img src="images/token.png" alt="View Access Token"></a>
				<a href="javascript:loadUserInfo({{user.id}},'{{user.access_token}}');" title="Click here to load the user's details.">Load</a>
			</p>
		<p>{{loop.index}}. <span class="id">{{user.id}}</span></p>
		<p class="token hidden">{{user.access_token}}</p>
		<div id="user_{{user.id}}" class="holder">
		</div>

		</li>
		{% endfor %}
	</ul>
</div>

<div id="add_friend" class="hidden modal form_div">
	<form action="addfriend" method="post" accept-charset="utf-8">
		{% if user_is_admin %}<fieldset id="create_relationship_with_other_user" class="">
			<legend>Create relationship with other user</legend>
			<input type="hidden" name="origin_user" value="" id="origin_user">
			<input type="hidden" name="origin_user_token" value="" id="origin_user_token">
			<ul>
				<li>
					<select name="target_user" id="target_user" onchange="" size="1">
						{% for key,user in users %}
						<option value="{{user.id}} {{user.access_token}}">{{loop.index}}. {{user.name}}</option>
						{% endfor %}>					
					</select>
				</li>
				<li>
					<input type="button" class="submit" id="submit-addfriend" value="Add friend &rarr;">
					<input type="button" class="close" name="Cancel" value="Cancel" id="Cancel">
				</li>
			</ul>
		</fieldset>{% endif %}
		<fieldset id="existing_friends" class="">
			<legend>Existing Friends</legend>
			
			<ul id="friend-list"> 
				<li class="loading"><img src="images/loading-small.gif" alt=""></li>
				
			</ul>
			{% if not user_is_admin %}
			<ul>
				<li>
					<input type="button" class="close" name="Cancel" value="Close" id="Cancel">
				</li>
			</ul>
			{% endif %}
			
		</fieldset>
	</form>
</div>

<div id="delete_user" class="hidden floater">
	<form id="delete_user_form" action="delete" method="post" accept-charset="utf-8">
		<input type="hidden" name="del_user" value="" id="del_user">
		<input type="hidden" name="del_user_token" value="" id="del_user_token">
		<input type="submit" value="Delete &rarr;">
	</form>
</div>

<div id="view_token" class="hidden modal token_div">
	<h2>Access Token</h2>
	<p id="view_token_p"></p>

	<p><input type="image" src="images/overlay/apple-close.png" width="28" height="28" class="close btn_close" name="Close" id="Close"></p>
</div>

<script id="userInfoTpl" type="text/x-jquery-tmpl"> 
	<p class='name'>${name}</p>
	<div class="perms">
		<p>Permissions: ${perms}</p>
	</div>
</script>

<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		{% for user in users %}
		//loadUserInfo({{user.id}},'{{user.access_token}}');
		{% endfor %}
		
		initListOverlays();
		initTooltips();
		$('#submit-addfriend').click(function (){ submitAddFriend(); });
	})
</script>
{% endblock %}

